<% include partials/header %>
	
	<script src="../../js/controller/forgotCtrl.js"></script>

</head>

<body ng-app="forgot" ng-controller="forgotCtrl" id="top">

	<% include partials/navbar %>  
	
	<!-- body
   ================================================== -->

		<div class="container">
		  
		  <div class="container-inner">
		    <div class="login">
		      <h1>Esqueceu sua senha?</h1>
		    </div>
		  
  		  <div class="pre-form">
  		    <p>Por favor insira seu e-mail abaixo. Um link com as instruções de redefinição de senha será enviado para você.</p>
  		  </div>
		  
  		  <div class="login-form">
  		  	
  		  	 <!--shows any message that comes back when validating password reset request-->
  		    <% if (message.error.length >0) { %>
  		    	<div class="alert alert-danger"><%= message.error %></div>
  		    <% } %>
  		    <% if (message.success.length >0) { %>
  		    	<div class="alert alert-success"><%= message.success %></div>
  		    <% } %>
  		    <% if (message.info.length >0) { %>
  		    	<div class="alert alert-info"><%= message.info %></div>
  		    <% } %>
  		    
  		    <form name="forgotForm" action="/restricted/reset/forgot" method="POST">
  		      
  		      <input type="email" name="email" placeholder="E-mail" ng-required="true" ng-model="message.to">
  		      
  		      <button class="btn btn-hfcf btn-block" ng-disabled="forgotForm.$invalid">Enviar</button>
  		      
  		    </form>
  		    
  		    <div class="login-link">
  		      <p><a href="/restricted/login">Voltar para a página de acesso</a>.</p>
  		    </div>
  		    
  		  </div> <!-- end login-form -->
		    
		  </div> <!-- end container-inner -->
		  
    </div> <!-- end container -->

<% include partials/footer %>