	<div class="sidebar" data-color="white" data-active-color="danger">

      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="../assets/img/logo-small.png">
          </div>
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
         Seu nome
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="{{dashboardclass}}">
            <a href="/restricted/dashboard">
              <i class="nc-icon nc-bank"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="{{checkinclass}}">
            <a href="/restricted/checkin">
              <i class="nc-icon nc-badge"></i>
              <p>Cadastrar Comanda</p>
            </a>
          </li>
          <li class="{{chargeclass}}">
            <a href="/restricted/charge">
              <i class="nc-icon nc-credit-card"></i>
              <p>Colocar crédito</p>
            </a>
          </li>
          <li class="{{balanceclass}}">
            <a href="/restricted/balance">
              <i class="nc-icon nc-alert-circle-i"></i>
              <p>Verificar saldo</p>
            </a>
          </li>
          <li class="{{menuclass}}">
            <a href="/restricted/menu">
              <i class="nc-icon nc-bullet-list-67"></i>
              <p>Gerir cardápio</p>
            </a>
          </li>
        </ul>
      </div>
    </div>