	<!-- footer
   ================================================== -->
	<footer>

   	<div class="footer-bottom">

      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright DNA Fork 2018</span>	         	
		         </div>		               
	      	</div>

      	</div>   	

      </div> <!-- end footer-bottom -->

     <div id="preloader"> 
      	<div id="loader"></div>
     </div>
   
   </footer> <!-- end footer -->

   <!-- Java Script
   ================================================== --> 
   
   <script src="../js/plugins.js"></script>
   <script src="../js/main.js"></script>
   <script src="../js/app.js"></script>
   <script src="../js/bootstrap.min.js"></script>
   
</body>

</html>