<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>DNA Fork - Login</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="../css/base.css">
   <link rel="stylesheet" href="../css/vendor.css">  
   <link rel="stylesheet" href="../css/main.css">
   <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
   <link rel="stylesheet" href="../css/hfcf-login.css">
   
	  <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="../images/LOGO-DNA_Fork_v1.jpg" type="image/x-icon">
	<link rel="icon" href="../images/LOGO-DNA_Fork_v1.jpg" type="image/x-icon">

   <!-- script
   ================================================== -->
   <script src="../js/jquery-2.1.3.min.js"></script>
   <script src="../js/modernizr.js"></script>
   <script src="../js/pace.min.js"></script>
   <script src="../lib/angular/angular.js"></script>
   <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114691568-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
	
		gtag('config', 'UA-114691568-1');

	</script>