	<!-- header 
   ================================================== -->
   <header> 
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <!--Company logo-->
	      <a class="navbar-brand hfcf-logo" href="/">DNA Fork</a>
	    </div>
	    <!-- Restrict area link -->
	    <div class="clients-nav">
	      <ul class="nav navbar-nav navbar-right">
  	     <li><a href="/restricted/login"><i class="fa fa-lock"></i> Clientes</a></li>
	      </ul>
	    </div>
	  </div><!-- /.container-fluid -->
	</nav>

	</header> <!-- end header -->  